

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (max-width:576px) {
    body {
/*        TODO specifying height/width makes non responsive*/
/*        height: 1192px;
        width: 365px;
        align-content: space-between;*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        /*NO idea why right padding needs to be twice the others*/
        padding: 10px 10px 10px 10px;
        /*padding: 10px;*/
    }
    a {
        /*Makes the top text centered*/
        padding: 10px;
    }
    .alert-info {
        display: flex;
        justify-content: center;
        border: 1px grey solid;
        background-color: lightblue;
    }
    li>a {
        display: flex;
        justify-content: center;
        border: 0;
        margin: 0;
    }
    li {
        /*display: flex;*/
        width: 100%;
        margin: 10px;
        align-content: space-around;
        justify-content: center;
        background-color: lightgrey;
    }
    ul.nav-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 0;
        padding: 0px;

    }
    h1 {
        display: flex;
        justify-content: center;
    }
    img {
        /*I learned that less than 100% will shrink up and left*/
        /*display: flex;*/
        width: 100%;
        border: 0px;
    }


}

/*!* Medium devices (tablets, 768px and up) *!
@media screen and (min-width:768px) { !* ... *! }*/

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:577px) {
    body {
        /*        TODO specifying height/width makes non responsive*/
        /*        height: 1192px;
                width: 365px;
                align-content: space-between;*/
        display: flex;
        flex-direction: column;
        padding: 10px;

    }

/*    section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        a
    }*/
    section {
    }
    section.main {
        width: 45%;
        float: left;
    }
    section.sub-section {
        float: right;
        width: 45%;

        /*turned the rows into columns*/
        align-self: flex-end;
        justify-self: start;
        align-items: flex-start;


    }
    a {
        /*Makes the top text centered*/
        padding: 10px 0px 10px 10px;

    }
    .alert-info {
        /*"skip to main content disappears in desktop view*/
        display: none;
    }
    li>a {
        display: flex;
        justify-content: space-between;
    }
    nav {
        display: flex;
        align-self: flex-end;
        position: absolute; top: auto;
    }
    ul.nav-links {
        list-style: none;
        display: flex;
    }
    img {
        /*I learned that less than 100% will shrink up and left*/
        /*display: flex;*/
        width: 100%;
        border: 0px;
    }
    h1 {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}

/*
!* Extra large devices (large desktops, 1200px and up) *!
@media screen and (min-width:1200px) { !* ... *! }*/
